
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="m-3 text-center text-danger">CHÀO MỪNG BẠN TRỞ LẠI MỚI nxbkimdong.com.vn</h2>
<h3 class="text-center">ĐÂY LÀ TRANG CHỦ ADMIN</h3>

