<a class="col-md-2 text-dark text-decoration-none" style="position: relative;" href="/GioHang/GioHang">
    <ion-icon name="cart-outline" style="font-size: 25px"></ion-icon>
    <span style="position: absolute; top: -30%; left: 25%; width: 20px; height: 20px; font-size: 10px; border-radius: 100rem; background: #f00; color: #fff; font-weight: bold;" class="d-flex align-items-center justify-content-center">@ViewBag.sl</span>
</a>
