
@{
    ViewBag.Title = "XacNhan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="container">
    <div>
        <p class="text-center" style="padding: 100px 20px; color: var(--primary-color); text-decoration: underline; font-size: 20px;">Đơn hàng của bạn đã được xác nhận, chúng tôi sẽ liên hệ với bạn sớm !</p>
        <a href="/" class="btn btn-danger">Về trang chủ</a>
    </div>
</div>
