<a class="col-md-3 d-flex justify-content-center align-items-center text-decoration-none text-dark" href="/">
    <ion-icon name="log-out-outline"></ion-icon>
    <span class="text-icon">
        Đăng xuất
    </span>
</a>
