<style>
    form input {
        padding: 8px 20px;
        margin: 5px 0;
        width: 100%;
    }

    .btn-login {
        font-size: 12px;
        padding: 8px 10px;
        margin: 5px 12px;
        width: 50%;
    }

    form .btn-login {
        border-radius: 0 !important;
        width: 100%;
    }
</style>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Đăng ký</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <h6>Xin chào,</h6>
                            <p>
                                <span style="color: #d51c24; border: none !important; outline: none !important;">Đăng nhập</span>
                                <span>
                                    hoặc
                                </span>
                                <span style="color: #d51c24; cursor:pointer;" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">tạo tài khoản</span>
                            </p>
                            <form method="POST" action="/NguoiDung/DangNhap" class="d-flex flex-column align-items-center w-100">
                                <input name="taikhoan" class="input" placeholder="Tên đăng nhập" />
                                <input name="matkhau" type="password" class="input" placeholder="Mật khẩu" />
                                <button class="btn btn-danger d-block btn-login" type="submit">Đăng nhập</button>
                            </form>
                            <div class="row justify-content-center">
                                <button class="col btn btn-danger btn-login">Đăng nhập Google</button>
                                <button class="col btn btn-info btn-login">Đăng nhập facebook</button>
                            </div>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <img src="/Content/img/logo.png" class="d-block w-25" style="object-fit: contain;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="col-md-3 d-flex justify-content-center align-items-center text-decoration-none text-dark" data-bs-toggle="modal" href="#exampleModalToggle" role="button">
    <ion-icon name="log-in-outline" class="me-1"></ion-icon>
    <span class="text-icon">
        Đăng nhập
    </span>
</a>