<div class="col-md-3 d-flex justify-content-center align-items-center text-decoration-none">
    <ion-icon name="person-outline"></ion-icon>
    <span class="text-icon">
        @Model.HOTEN
    </span>
</div>
